demo-soap/src/main/resources/userservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://localhost:8091/"
        xmlns:tns="http://localhost:8091/">
    <types>
        <xsd:schema>
            <element name="UserRequest">
                <complexType>
                    <all>
                        <element name="id" type="xsd:integer"/>
                    </all>
                </complexType>
            </element>
            <element name="User">
                <complexType>
                    <all>
                        <element name="id" type="xsd:integer"/>
                        <element name="username" type="xsd:string"/>
                    </all>
                </complexType>
            </element>
        </xsd:schema>
    </types>

    <message name="getUserRequest">
        <part name="parameters" element="tns:UserRequest"/>
    </message>
    <message name="getUserResponse">
        <part name="parameters" element="tns:User"/>
    </message>

    <portType name="UserService">
        <operation name="getUser">
            <input message="tns:getUserRequest"/>
            <output message="tns:getUserResponse"/>
        </operation>
    </portType>

    <binding name="UserServiceSOAPHttp"
             type="tns:UserService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                      style="document"/>
        <operation name="getUser">
            <soap:operation
                    soapAction="http://localhost:8091/UserService/getUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="UserService">
        <port name="UserService"
              binding="tns:UserServiceSOAPHttp">
            <soap:address
                    location="http://localhost:8091/UserService"/>
        </port>
    </service>
</definitions>